* {
    margin: 0;
    padding:0;
    font-family: 'Shippori Antique B1', sans-serif;
    box-sizing: border-box;
    cursor: pointer;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.0));
    background-color: #BB8FCE  ;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.navbar {
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    width: 120px;
    cursor: pointer;
    padding-top: 50px;
}
.menu-icon{
    width: 30px;
    cursor: pointer;
    margin-left: 100px;
}
nav{
    flex:1;
    text-align: right;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a {
    text-decoration: none;
    color: wheat;
    font-size: 13px;
    transition: 0.3s;
}
nav ul li a:hover{
    color: black;
}
.row {
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis: 50%;
    justify-content: space-around;
}
h1 {
    color: wheat;
    font-size: 100px;
}
h2 {
    color: wheat;
    font-size : 70px;
}
p{
    color: wheat;
    font-size: 12px;
    line-height: 15px;
}
button {
    width: 180px;
    color: black;
    font-size: 13px;
    padding: 12px 0px;
    background: cornsilk;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
    transition: 0.5s;
}
button:hover{
    transform: translateY(-10px);
}
.card {
    width: 650px;
    height: 450px;
    display: flex;
    border-radius: 12px;
    padding: 12px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: 0.5s ease-in-out;
    align-items: flex-end;
    background-image: url(images/exist.jpeg);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;

}
.card:hover {
    transform: translateY(-10px);
}
.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(247, 249, 249,0.5), rgba(74, 35, 90));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
    cursor: pointer;
    border-radius: 12px;
}
.card:hover:before {
    opacity: 1;
}
.card .info {
    position: relative;
    z-index: 3;
    color: black;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}

.card:hover .info{
    opacity: 1;
    transform: translateY(0px);
    border-radius: 12px;
}
.card .info h2 {
    margin: 0;
}
.card .info p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.card .info .button {
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #999;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    
}
h5 {
    color:wheat;
    text-shadow: 0 0 0 5px #999;
}
.card p {
    text-shadow: 0 0 0 15px #000;
    font-size: 9px;
}
